body{
    padding: 100px;
    background-color: whitesmoke;
}

.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
}
#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}